 <section id="projects">
    <div id="projectDiv">
 <h1 id="projectName">{{project.name}}</h1>
        <p id="projectDesc">{{project.description}}</p>
        <div id="bottomPart">
         <p id="projectDate">{{project.date_created}}</p>
         <p id="projectFund"> {{project.needed_funding}}</p>
        </div>
    </div>
    <div>
    </div>
</section>