{{#each projects as |project|}}
   <div class="projectDiv">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>$ {{needed_funding}}</p>
    <p>{{format_time date_created}}</p>
   </div>
{{/each}}