<section>
    <div id="loginDiv">
        <h2>Log In</h2>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="usernameInput" name="username"> 
            <label for="password">Password:</label>
            <input type="text" id="passwordInput" name="password">
            <button id="loginBtn">Login</button>
            <p>No Account? <a href="/signUp">Sign Up</a></p>
        </form>
    </div>
</section>
<script src="login.js"></script>