<section>
    <div>
        <h2>Log In</h2>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="usernameInput" name="username"> 
            <label for="password">Password:</label>
            <input type="text" id="passwordInput" name="password">
        </form>
    </div>
</section>