<section id="projects">
    <div id="projectDiv">
        <h1>{{project.name}}</h1>
        <p>{{project.description}}</p>
        <div id="bottomPart">
         <p>{{project.date_created}}</p>
         <p> {{project.needed_funding}}</p>
        </div>
    </div>
    <div>
        <button>Add A Project</button>
    </div>
</section>