<section>
    <div id="singleProject">
       <h1>{{project.name}}</h1>
       <p>{{project.description}}</p>
       <p>{{project.date_created}}</p>
       <p>{{project.needed_funding}}</p>
    </div>
</section>