<section>
    <div id="singleProject">
       <h1 id="projectName">{{name}}</h1>
       <p id="projectDesc">{{description}}</p>
       <p>{{date_created}}</p>
       <p id="projectFund">{{needed_funding}}</p>
       <button id="fundMeBtn">Fund Me!</button>
    </div>
</section>