@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Unica+One&display=swap');

:root {
    --main: 'Libre Baskerville', serif;
    --headings: 'Unica One', cursive;
    --black: #111a0c;
    --green: #77b300;
    --cream: #f1f5e6;
}
body{
    background-color: var(--cream);
    font-size: 2em;
    font-family: var(--main);
}
nav{
    border-bottom: 2px solid var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav h1{
    color: var(--green);
    font-family: var(--headings);
}
#projectDiv{
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid var(--black);
}
#projects{
    margin: 0 auto;
    padding: 1em;
    background-color: #77b300;
}
#bottomPart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}